<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <!--配置hibernate的基本屬性-->

    <!--方言-->
    <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
    <!--是否显示及其格式化SQL-->
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.format_sql">true</property>
    <!--生成数据表的相关策略-->
    <property name="hibernate.hbm2ddl.auto">update</property>
    <mapping resource="mapping/DepartmentEntity.hbm.xml"/>
    <mapping class="com.ssh.entities.DepartmentEntity"/>
    <mapping resource="mapping/EmployeeEntity.hbm.xml"/>
    <mapping class="com.ssh.entities.EmployeeEntity"/>
    <!--二级缓存相关-->
  </session-factory>
</hibernate-configuration>